<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649412328597-uihkko94esplgja5s1541o2tcq73ti0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649412328597-uihkko94esplgja5s1541o2tcq73ti0q</string>
	<key>API_KEY</key>
	<string>AIzaSyDbHadt5vzqniS8rxYTGdTAyee2UOOrBmg</string>
	<key>GCM_SENDER_ID</key>
	<string>649412328597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.breno.Movie-Serie</string>
	<key>PROJECT_ID</key>
	<string>brcine-3b35d</string>
	<key>STORAGE_BUCKET</key>
	<string>brcine-3b35d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649412328597:ios:2caed80a7ef73a26776f9c</string>
</dict>
</plist>